<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        
        <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/solid.css" integrity="sha384-TbilV5Lbhlwdyc4RuIV/JhD8NR+BfMrvz4BL5QFa2we1hQu6wvREr3v6XSRfCTRp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/regular.css" integrity="sha384-avJt9MoJH2rB4PKRsJRHZv7yiFZn8LrnXuzvmZoD3fh1aL6aM6s0BBcnCvBe6XSD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG" crossorigin="anonymous">
      
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Travel App</title>
    </head>

    <body>
        <!-- Navbar -->
        <header>
            <nav class="navbar hide" id="nav">
                <a href="/">
                    <img src="../media/images/logo.png" alt="logo">
                    <h4>Travel App</h4>
                </a>

                <ul>
                    <li><a href="#section-about">About |</a></li>
                    <li><a href="#section-plan">Plan Your Travel </a></li>
                    <li id="li-trips"><a href="#section-trips">| All Trips</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <!-- About section -->
            <section id="section-about">
                <div class="image-header"></div>
                <div class="intro">
                    <div><h1>Travel App</h1></div>
                    <br>
                    <div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut lectus arcu bibendum at varius vel. Nulla porttitor massa id neque aliquam vestibulum. </p></div>
                </div>
            </section>
            
            <!-- Form to plan trip -->
            <section id="section-plan">
                <div class="form">
                    <form id="form">                        
                        <img src="../media/images/logo.png" alt="logo">

                        <h2>Planning Your Trip</h2>

                        <div class="inputs">
                            <input type="text" id="from" class="form-control leaving" name="from" placeholder="Leaving from...">
                            <input type="text" id="destination" class="form-control going" name="to" placeholder="Going to..." required>

                            <label>Departing on...
                                <input id="depart-date" type="date" class="form-control" name="departing" required>
                            </label>
                            <label>Returning on...
                                <input id="return-date" type="date" class="form-control" name="returning" required>
                            </label>
                            
                            <button type="button" id="submitForm" class="btn btn-primary" value="Submit">
                                Submit
                            </button>
                        </div>                        
                    </form>
                </div>
            </section>

            <!-- Modal -->
            <section id="section-modal">
                <div class="modal fade" id="modal" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTitle"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">                                
                                <div id="cityImg" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner" id="carousel">
                                        <div class="carousel-item active">
                                            <img class="img-carousel" src="" alt="">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="img-carousel" src="" alt="">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="img-carousel" src="" alt="">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="img-carousel" src="" alt="">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="img-carousel" src="" alt="">
                                        </div>
                                    </div>
                                    
                                    <a class="carousel-control-prev" href="#cityImg" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#cityImg" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                                <div class="tripInfo">
                                    <div><i class="fas fa-plane-departure"></i><b> Departing on: </b><span id="departDate"></span><br></div>
                                    <div><i class="fas fa-suitcase-rolling"></i><b> Returning on: </b><span id="returnDate"></span></div>
                                    <div><i class="fas fa-hourglass-half"></i><b> Duration: </b><span id="durationTrip"></span></div>
                                    <div><i></i><b> Forcast: </b><span id="forecast"></span></div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" id="addTrip">Add Trip</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- All trips -->
            <section id="section-trips" class="hidden">
                <h2>All Trips!</h2>
                <div id="allTrips"></div>
            </section>
        </main>

        <footer>
            <p>&copy Catarina Batista 2019</p>
        </footer>

        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

    </body>
</html>
