<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel App</title>
    </head>

    <body>
        <header>
            <nav class="navbar">
                <a href="/">
                    <img src="../media/images/logo.png" alt="logo">
                    <p>Travel App</p>
                </a>
            </nav>
        </header>

        <main>
            
        </main>

        <footer>
            <p>&copy Catarina Batista 2019</p>
        </footer>

        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

    </body>
</html>
