<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel App</title>
    </head>

    <body>
        <header>
            <nav class="navbar">
                <a href="/">
                    <img src="../media/images/logo.png" alt="logo">
                    <h2>Travel App</h2>
                </a>

                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#plan">Plan Your Travel</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section id="about">
                <div class="image-header"></div>
                <div class="intro">
                    <h1>Travel Planner</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut lectus arcu bibendum at varius vel. <br><br>
                    Nulla porttitor massa id neque aliquam vestibulum. Nulla 
                    pellentesque dignissim enim sit amet venenatis urna cursus. Habitasse platea dictumst quisque sagittis purus sit amet volutpat.</p>
                </div>
            </section>

            <section id="plan">
                <div class="form">

                </div>
            </section>
        </main>

        <footer>
            <p>&copy Catarina Batista 2019</p>
        </footer>

        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

    </body>
</html>
