@import "variables.scss";

.card {
    width: 320px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;    
    box-shadow: $box-shadow-card;

    .img-card {            
        width: 99.9%;
        max-height: 200px;
        border-radius: 10px;
    }

    .card-body {
        display: grid;
        grid-template-rows: 40px auto 40px;

        .card-text {
            padding-left: 15px;
        }
    }
}