@import "variables.scss";

.card {
    width: 320px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;    
    box-shadow: $box-shadow-card;

    &:hover {
        box-shadow: 5px 5px 8px rgba(175, 175, 175, 0.77);
    }

    .img-card {            
        width: 99.9%;
        height: 200px;
        border-radius: 10px;
    }

    .card-body {
        display: grid;
        grid-template-rows: 40px 300px 40px;

        i {
            margin-right: 15px;
            color: #00aa77;
            font-size: 18px;
        }

        p {
            margin: 0;
            padding-left: 35px;
        }
    }

    button:hover {
        background-color: #c50000;
    }
}