@media(max-width: 900px) {
    #section-modal {
        width: 1000px;

        .modal-content {
            padding: 0 20px;
        }
    
        .modal-body {
            display: grid;
            grid-template-rows: 250px auto;
            align-items: center;
            justify-content: center;
            padding-top: 0;
        }

        #cityImg {
            height: auto;
            width: 250px;
            margin: auto;
            border-radius: 30px;
        }

        .img-carousel{
            height: auto;
            width: 250px;    
        }

        .tripInfo {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 0 10px;

            div {
                margin-bottom: 15px;
            }
        }

        i {
            color: #00aa77;
            font-size: 18px;
            margin-right: 10px;
        }
    }
}

@media(min-width: 901px) {
    #section-modal {
        width: 1000px;

        .modal-body {
            display: grid;
            grid-template-columns: 300px auto;
            grid-template-areas: "img info";
        }

        #cityImg {
            grid-area: "img";
            height: auto;
            width: 250px;
            margin: 0 20px;
            border-radius: 30px;
        }

        .img-carousel{
            height: auto;
            width: 250px;

        }

        .tripInfo {
            grid-area: "info";
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        i {
            color: #00aa77;
            font-size: 18px;
            margin-right: 10px;
        }
    }
}