@import "variables.scss";

#nav {
    background-color: $background-header;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 5px 8px #cececec4;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    top: 0;
    position: fixed;
    z-index: 9999;
    width: 100%;

    @media(max-width: 900px) {
        height: 100px;
    }

    @media(min-width: 901px) {
        height: 70px;
    }

    
    &.hide {
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    &.top {
        opacity: 1;

        @media(max-width: 900px) {
            height: 100px;
        }

        @media(min-width: 901px) {
            height: 80px;
        }
    }

    a {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    li {
        display: inline-block;
        margin: 0;
        padding: 0 10px 0 0;
    }

    ul {
        margin: 0;
        display: flex;
        align-items: center;
    }

    img {
        margin-left: 15px;
        height: 40px;
        width: auto;
    }

    h4 {
        color: #003caa;
        padding: 0 0 0 10px;
    }

    #li-trips {
        display: none;
    }
}