@import "variables.scss";

#section-about{
    
    .intro {
        font-size: 18px;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media(max-width: 900px) {            
            height: 560px;
            padding: 100px 90px 0 90px;
        }

        @media(min-width: 901px) and (max-width:1280px) {
            height: 450px;
            padding: 80px 100px 0 100px;
        }

        @media(min-width: 1281px) {
            height: 450px;
            padding: 80px 100px 0 100px;
        }

        h1 {
            margin-top: 0;
            background-color: white;
            display: inline-block;
        }

        p {
            background-color: white;
            display: inline-block;
        }
    }
    
    .image-header {
        position: absolute;
        z-index: -1;
        /* opacity: 0.8; */
        width: 100%;
        background: $background-image-about;

        @media(max-width: 900px) {
            height: 600px;
            height: 30rem;
            top: 100px;
        }

        @media(min-width: 901px) and (max-width:1280px) {
            height: 450px;
            padding: 80px 100px 0 100px;
            height: 27rem;
            top: 80px;
        }
        
        @media(min-width: 1281px) {
            height: 450px;
            padding: 80px 100px 0 100px;
            height: 27rem;
            top: 80px;
        }
    }
}

#section-plan {
    position: relative;
    background-color: #ecf9ff; //#ecffed
    
    @media(max-width: 900px) {
        height: 830px;
    }

    @media(min-width: 901px) and (max-width:1280px) {
        height: 580px;
    }
    
    @media(min-width: 1281px) {
        height: 580px;
    }
    
    .form {
        width: 80%;
        align-content: center;
        background-color: white;
        position: absolute;
        left: 50%;
        top: 50%;        
        transform: translate(-50%,-50%);
        border-radius: 40px;
        box-shadow: $box-shadow-form;

        @media(max-width: 900px) {
            height: 80%;
        }
    
        @media(min-width: 901px) and (max-width:1280px) {
            height: 380px;
        }
        
        @media(min-width: 1281px) {
            height: 380px;
        }
    }
}


#section-trips {
    background-color: white;
    padding: 30px;

    &.hidden {
        display: none;
        visibility: hidden;
    }

    h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    
    #allTrips {
        @media(min-width: 1281px) {
            display: grid;
            grid-template-columns: repeat(4, 450px);
            grid-row-gap: 40px;
        }
            
        @media(min-width: 901px) and (max-width:1280px) {
            display: grid;
            grid-template-columns: repeat(3, 400px);
            grid-row-gap: 40px;
        }
        
        @media(max-width: 900px) {
            display: grid;
            grid-template-columns: auto;
            grid-row-gap: 40px;
        }
    }

    section {        
        margin-left: auto;
        margin-right: auto;
    }
}